@use './colors';
@use './responsive';
@use './navbar';
@use './footer';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
  font-family: "Poppins", arial, sans-serif;
  color: colors.$primary-color;
}

.detail-rawat-inap {
  .btn-back {
    display: block;
  }

  .telp-icon {
    font-size: 1.4em;
  }

  .title-wrapper {
    display: flex;

    .like-icon {
      font-size: 2em;
      margin-top: -5px;
      margin-left: 8px;
      cursor: pointer;
    }
  }

  .service-detail {
    .btn:focus {
      box-shadow: none !important;
    }

    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .up-arrow-icon {
        transform: rotate(180deg);
        transition: .3s;
      }
    }

    .card-body {
      background-color: rgba($color: colors.$fourth-color, $alpha: .4);

      display: flex;
      justify-content: space-around;

      .box {
        padding-top: .4em;
        padding: .4em .2em 0;
        width: 100px;
        height: 100px;
        background-color: red;
        text-align: center;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          font-weight: bold;
        }
      }

      .bed {
        width: 140px;
      }


    }
  }

}