@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.custom-nav {
  padding: 2em 0 0 0;
}
.custom-nav .navbar-brand img {
  width: 10.375rem;
  height: 2.5em;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  color: #121E2A;
  padding: 1em;
  text-align: center;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link.active {
  font-weight: 600;
  color: #FE0B0B;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #FE0B0B;
}
@media screen and (min-width: 992px) {
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    margin-right: 1em;
  }
}
.custom-nav #navbarNav .navbar-nav .nav-item .hotline-btn {
  border: 2px solid #FE0B0B;
  background-color: transparent;
  height: 3em;
  width: 8em;
  margin: 0 auto;
  color: #FE0B0B;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.custom-nav #navbarNav .navbar-nav .nav-item .hotline-btn .icon-phone {
  margin-right: 0.75em;
}
.custom-nav #navbarNav .navbar-nav .nav-item .hotline-btn:hover {
  background-color: #FE0B0B;
  color: white;
}
.custom-nav .navbar-toggler {
  padding: 0.5rem;
}

.about-covid {
  margin-top: 3em;
}
@media screen and (min-width: 768px) {
  .about-covid {
    margin-top: 4em;
  }
}
@media screen and (min-width: 1200px) {
  .about-covid {
    margin-top: 4.5em;
  }
}
.about-covid .wrap-about {
  flex-direction: column-reverse;
}
@media screen and (min-width: 992px) {
  .about-covid .wrap-about {
    flex-direction: row;
  }
}
.about-covid img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.about-covid .text-about {
  margin-top: 1.5em;
}
.about-covid .text-about p:first-child {
  color: #FE0B0B;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .about-covid .text-about p:first-child {
    font-size: 1rem;
  }
}
.about-covid .text-about h1 {
  color: #121E2A;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.about-covid .text-about h1 .d-red {
  color: #FE0B0B;
  margin-left: -0.2em;
}
@media screen and (min-width: 768px) {
  .about-covid .text-about h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .about-covid .text-about h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .about-covid .text-about h1 {
    font-size: 2.5rem;
  }
}
.about-covid .text-about p:last-child {
  color: #6C757D;
  font-weight: 400;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .about-covid .text-about p:last-child {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .about-covid .text-about {
    margin-top: 0;
  }
}

.blog-post,
.video-post {
  margin-top: 3em;
}
@media screen and (min-width: 768px) {
  .blog-post,
.video-post {
    margin-top: 4em;
  }
}
@media screen and (min-width: 1200px) {
  .blog-post,
.video-post {
    margin-top: 4.5em;
  }
}
.blog-post p:first-child,
.video-post p:first-child {
  color: #FE0B0B;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .blog-post p:first-child,
.video-post p:first-child {
    font-size: 1rem;
  }
}
.blog-post h2,
.video-post h2 {
  color: #121E2A;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.blog-post h2 .d-red,
.video-post h2 .d-red {
  color: #FE0B0B;
  margin-left: -0.2em;
}
@media screen and (min-width: 768px) {
  .blog-post h2,
.video-post h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .blog-post h2,
.video-post h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .blog-post h2,
.video-post h2 {
    font-size: 2rem;
  }
}

.custom-blog-post img {
  height: 18.375em;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 1em;
}
.custom-blog-post h3 {
  color: #121E2A;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.custom-blog-post h3 .d-red {
  color: #FE0B0B;
  margin-left: -0.2em;
}
@media screen and (min-width: 768px) {
  .custom-blog-post h3 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .custom-blog-post h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .custom-blog-post h3 {
    font-size: 1.25rem;
  }
}
.custom-blog-post p {
  color: #6C757D;
  font-weight: 400;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .custom-blog-post p {
    font-size: 1rem;
  }
}
.custom-blog-post .read-btn {
  padding: 0.7em;
  min-height: 44px;
  background-color: #FE0B0B;
  border: 1px solid #FE0B0B;
  font-weight: bold;
}

.custom-video-post {
  box-shadow: 0px 0.3px 0.4px rgba(0, 0, 0, 0.02), 0px 0.7px 1.1px rgba(0, 0, 0, 0.028), 0px 1.3px 2px rgba(0, 0, 0, 0.035), 0px 2.2px 3.6px rgba(0, 0, 0, 0.042), 0px 4.2px 6.7px rgba(0, 0, 0, 0.05), 0px 10px 16px rgba(0, 0, 0, 0.07);
  stroke: 1px solid #C4C4C4;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}
.custom-video-post img {
  height: 10em;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
  -webkit-border-radius: 1.25rem 1.25rem 0 0;
  -moz-border-radius: 1.25rem 1.25rem 0 0;
  -ms-border-radius: 1.25rem 1.25rem 0 0;
  -o-border-radius: 1.25rem 1.25rem 0 0;
}
.custom-video-post .card-body h3 {
  color: #121E2A;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 0;
}
.custom-video-post .card-body h3 .d-red {
  color: #FE0B0B;
  margin-left: -0.2em;
}
.custom-video-post .card-body h3 a {
  text-decoration: none;
  color: #121E2A;
  transition: 0.3s color ease;
  -webkit-transition: 0.3s color ease;
  -moz-transition: 0.3s color ease;
  -ms-transition: 0.3s color ease;
  -o-transition: 0.3s color ease;
}
.custom-video-post .card-body h3 a:hover {
  color: #FE0B0B;
  transition: 0.3s color ease;
  -webkit-transition: 0.3s color ease;
  -moz-transition: 0.3s color ease;
  -ms-transition: 0.3s color ease;
  -o-transition: 0.3s color ease;
}
@media screen and (min-width: 768px) {
  .custom-video-post .card-body h3 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .custom-video-post .card-body h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .custom-video-post .card-body h3 {
    font-size: 1.25rem;
  }
}

.search-hospital {
  margin-top: 3em;
  margin-bottom: 4.5em;
  padding: 2em;
  background-color: #121E2A;
  color: white;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .search-hospital {
    margin-top: 4em;
  }
}
@media screen and (min-width: 1200px) {
  .search-hospital {
    margin-top: 4.5em;
  }
}
.search-hospital h1 {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.search-hospital h1 .d-red {
  color: #FE0B0B;
  margin-left: -0.2em;
}
@media screen and (min-width: 768px) {
  .search-hospital h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .search-hospital h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .search-hospital h1 {
    font-size: 2.5rem;
  }
}
.search-hospital p {
  margin-bottom: 2em;
}
.search-hospital .to-search-btn {
  padding: 1em;
  min-height: 44px;
  background-color: #FE0B0B;
  border: 1px solid #FE0B0B;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .search-hospital {
    padding: 2.5em 12em;
  }
}

footer .footer-up {
  background-color: rgba(196, 196, 196, 0.3);
  padding: 2.5rem 0;
  text-align: center;
}
footer .footer-up img {
  height: 3.5rem;
  margin-bottom: 0.5rem;
}
footer .footer-up p {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  color: #6C757D;
}
@media screen and (min-width: 768px) {
  footer .footer-up p {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
footer .footer-up h4 {
  color: #121E2A;
  font-weight: bold;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  footer .footer-up h4 {
    font-size: 1.5rem;
  }
}
footer .footer-up ul {
  padding: 0;
}
footer .footer-up ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}
footer .footer-up ul li a {
  text-decoration: none;
  color: #6C757D;
  font-size: 0.75rem;
}
footer .footer-up ul li a:hover {
  color: #25282b;
}
@media screen and (min-width: 768px) {
  footer .footer-up ul li a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  footer .footer-up {
    padding: 2.5rem 2.5rem 3.5rem 2.5rem;
    text-align: left;
  }
}
footer .footer-bottom {
  background-color: #121E2A;
  color: white;
  height: 6rem;
  padding: 1rem;
}
footer .footer-bottom .content-foo-bottom {
  padding: 0;
}
footer .footer-bottom .content-foo-bottom p {
  margin-bottom: 0;
  font-size: 0.75rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  footer .footer-bottom .content-foo-bottom p {
    font-size: 1rem;
  }
}
footer .footer-bottom .content-foo-bottom .github {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  footer .footer-bottom .content-foo-bottom .github {
    margin-bottom: 0;
  }
}

.modal-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-custom iframe {
  height: 19.688em;
  width: 16.8em;
  margin: 0 auto;
}
@media screen and (min-width: 425px) {
  .modal-custom iframe {
    width: 24em;
  }
}
@media screen and (min-width: 768px) {
  .modal-custom iframe {
    width: 29em;
  }
}

/*# sourceMappingURL=main.css.map */
