@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.custom-nav {
  padding: 2em 0 2em 0;
}
.custom-nav .navbar-brand img {
  width: 10.375rem;
  height: 2.5em;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  color: #121E2A;
  padding: 1em;
  text-align: center;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link.active {
  font-weight: 600;
  color: #FE0B0B;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #FE0B0B;
}
@media screen and (min-width: 992px) {
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    margin-right: 1em;
  }
}
.custom-nav #navbarNav .navbar-nav .nav-item .hotline-btn {
  border: 2px solid #FE0B0B;
  background-color: transparent;
  height: 3em;
  width: 8em;
  margin: 0 auto;
  color: #FE0B0B;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.custom-nav #navbarNav .navbar-nav .nav-item .hotline-btn .icon-phone {
  margin-right: 0.75em;
}
.custom-nav #navbarNav .navbar-nav .nav-item .hotline-btn:hover {
  background-color: #FE0B0B;
  color: white;
}
.custom-nav .navbar-toggler {
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .custom-nav {
    padding: 2em 0 0 0;
  }
}

.main-error {
  margin-top: 3em;
  text-align: center;
  margin-bottom: 4.5em;
}
.main-error h1 {
  color: #121E2A;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.main-error h1 .d-red {
  color: #FE0B0B;
  margin-left: -0.2em;
}
@media screen and (min-width: 768px) {
  .main-error h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .main-error h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .main-error h1 {
    font-size: 2.5rem;
  }
}
.main-error .back-btn {
  padding: 0.5em;
  min-height: 44px;
  background-color: #FE0B0B;
  border: 1px solid #FE0B0B;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .main-error .back-btn {
    padding: 1em;
  }
}
@media screen and (min-width: 768px) {
  .main-error {
    margin-top: 2em;
  }
}
@media screen and (min-width: 1200px) {
  .main-error {
    margin-top: 2.5em;
  }
}

footer .footer-up {
  background-color: rgba(196, 196, 196, 0.3);
  padding: 2.5rem 0;
  text-align: center;
}
footer .footer-up img {
  height: 3.5rem;
  margin-bottom: 0.5rem;
}
footer .footer-up p {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  color: #6C757D;
}
@media screen and (min-width: 768px) {
  footer .footer-up p {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
footer .footer-up h4 {
  color: #121E2A;
  font-weight: bold;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  footer .footer-up h4 {
    font-size: 1.5rem;
  }
}
footer .footer-up ul {
  padding: 0;
}
footer .footer-up ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}
footer .footer-up ul li a {
  text-decoration: none;
  color: #6C757D;
  font-size: 0.75rem;
}
footer .footer-up ul li a:hover {
  color: #25282b;
}
@media screen and (min-width: 768px) {
  footer .footer-up ul li a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  footer .footer-up {
    padding: 2.5rem 2.5rem 3.5rem 2.5rem;
    text-align: left;
  }
}
footer .footer-bottom {
  background-color: #121E2A;
  color: white;
  height: 6rem;
  padding: 1rem;
}
footer .footer-bottom .content-foo-bottom {
  padding: 0;
}
footer .footer-bottom .content-foo-bottom p {
  margin-bottom: 0;
  font-size: 0.75rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  footer .footer-bottom .content-foo-bottom p {
    font-size: 1rem;
  }
}
footer .footer-bottom .content-foo-bottom .github {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  footer .footer-bottom .content-foo-bottom .github {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
