//! Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//! Variables
$primary-color: #121E2A;
$secondary-color: #FE0B0B;
$third-color: #6C757D;
$fourth-color: #C4C4C4;

//! Mixins
@mixin box-border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-inherit {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@mixin margin-section($mtSize: 3em) {
  margin-top: $mtSize;

  @media screen and (min-width: 768px) {
    margin-top: 4em;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 4.5em;
  }
}

@mixin heading($fontSize, $mBottom, $color: $primary-color) {
  color: $color;
  font-weight: bold;
  font-size: $fontSize;
  margin-bottom: $mBottom;

  .d-red {
    color: $secondary-color;
    margin-left: -0.2em;
  }
}

@mixin sub-heading($fontSize) {
  color: $secondary-color;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: $fontSize;
}

@mixin text-content($fontSize) {
  color: $third-color;
  font-weight: 400;
  font-size: $fontSize;
}

@mixin solid-btn($paddingSize) {
  padding: $paddingSize;
  min-height: 44px;
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  font-weight: bold;
}

//! Styles
html {
  @include box-border();
}

* {
  @include box-inherit();

  &:before {
    @include box-inherit();
  }

  &:after {
    @include box-inherit();
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

// Navigation | Navbar
.custom-nav {
  padding: 2em 0 2em 0;

  .navbar-brand {
    img {
      width: 10.375rem;
      height: 2.5em;
    }
  }

  #navbarNav {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-weight: 400;
          color: $primary-color;
          padding: 1em;
          text-align: center;
          transition: 0.2s ease;
          -webkit-transition: 0.2s ease;
          -moz-transition: 0.2s ease;
          -ms-transition: 0.2s ease;
          -o-transition: 0.2s ease;

          &.active {
            font-weight: 600;
            color: $secondary-color;
          }

          &:hover {
            color: $secondary-color;
          }

          @media screen and (min-width: 992px) {
            margin-right: 1em;
          }
        }

        .hotline-btn {
          border: 2px solid $secondary-color;
          background-color: transparent;
          height: 3em;
          width: 8em;
          margin: 0 auto;
          color: $secondary-color;
          transition: 0.5s ease;
          -webkit-transition: 0.5s ease;
          -moz-transition: 0.5s ease;
          -ms-transition: 0.5s ease;
          -o-transition: 0.5s ease;

          .icon-phone {
            margin-right: 0.75em;
          }

          &:hover {
            background-color: $secondary-color;
            color: white;
          }
        }
      }

    }
  }

  .navbar-toggler {
    padding: .5rem;
  }

  @media screen and (min-width: 768px) {
    padding: 2em 0 0 0;
  }
}

// Section 1
.about-web {
  @include margin-section($mtSize: 1em);

  .wrap-about {
    flex-direction: column;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
  }

  img {
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .text-about {
    margin-top: 1.5em;

    p:first-child {
      @include sub-heading($fontSize: 0.75rem);

      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
    }

    h1 {
      @include heading($fontSize: 1.5rem, $mBottom: 1rem);

      @media screen and (min-width: 768px) {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }

      @media screen and (min-width: 992px) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 1200px) {
        font-size: 2.3rem;
      }
    }

    p:last-child {
      @include text-content($fontSize: .75rem);

      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
    }

    @media screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
}

// Fitur Web Section
.fitur-web {
  @include margin-section();

  p:first-child {
    @include sub-heading($fontSize: 0.75rem);

    @media screen and (min-width: 768px) {
      font-size: 1rem;
    }
  }

  h2 {
    @include heading($fontSize: 1.5rem, $mBottom: 1.5rem);

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }

    @media screen and (min-width: 992px) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 2.3rem;
    }
  }

  .fitur-card {
    @include margin-section();

    .logo-fitur {
      background-color: $secondary-color;
      width: 5rem;
      height: 5rem;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      @media screen and (min-width: 768px) {
        width: 6.25rem;
        height: 6.25rem;
      }
    }

    .body-fitur {
      padding-top: 2rem;

      h3 {
        @include heading($fontSize: 1.25rem, $mBottom: .5rem);
        line-height: 2rem;

        @media screen and (min-width: 768px) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 992px) {
          font-size: 1.25rem;
        }

        @media screen and (min-width: 1200px) {
          font-size: 1.25rem;
        }
      }
    }

    @media screen and (min-width:768px) {
      margin-bottom: 0;
    }
  }
}

// Team Pengembang Section
.team-pengembang {
  @include margin-section();

  p:first-child {
    @include sub-heading($fontSize: 0.75rem);

    @media screen and (min-width: 768px) {
      font-size: 1rem;
    }
  }

  h2 {
    @include heading($fontSize: 1.5rem, $mBottom: 1.5rem);

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }

    @media screen and (min-width: 992px) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 2.3rem;
    }
  }

  .team-card {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0.3px 0.4px rgba(0, 0, 0, 0.02), 0px 0.7px 1.1px rgba(0, 0, 0, 0.028), 0px 1.3px 2px rgba(0, 0, 0, 0.035), 0px 2.2px 3.6px rgba(0, 0, 0, 0.042), 0px 4.2px 6.7px rgba(0, 0, 0, 0.05), 0px 10px 16px rgba(0, 0, 0, 0.07);

    img {
      border-radius: 10px 10px 0 0;
      -webkit-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
      -ms-border-radius: 10px 10px 0 0;
      -o-border-radius: 10px 10px 0 0;
      height: 12rem;

      @media screen and (min-width: 1024px) {
        height: 15rem;
      }
    }

    .team-name {
      @include heading($fontSize: 1.25rem, $mBottom: .5rem);

      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 992px) {
        font-size: 1.25rem;
      }

      @media screen and (min-width: 1200px) {
        font-size: 1.25rem;
      }
    }

    .team-id {
      @include sub-heading($fontSize: 0.75rem);

      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
    }
  }
}