//! Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//! Variables
$primary-color: #FE0B0B;
$heading-color: #121E2A;
$content-color: #6C757D;
$stroke-color: #C4C4C4;

//! Mixins
@mixin box-border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-inherit {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

//! Styles
html {
  @include box-border();
}

* {
  @include box-inherit();

  &:before {
    @include box-inherit();
  }

  &:after {
    @include box-inherit();
  }
}

body {
  font-family: 'Poppins', sans-serif;
} 