//! Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//! Variables
$primary-color: #FE0B0B;
$heading-color: #121E2A;
$content-color: #6C757D;
$stroke-color: #C4C4C4;

//! Mixins
@mixin box-border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-inherit {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@mixin heading($fontSize, $mBottom, $color: $heading-color) {
  color: $color;
  font-weight: bold;
  font-size: $fontSize;
  margin-bottom: $mBottom;

  .d-red {
    color: $primary-color;
    margin-left: -0.2em;
  }
}

@mixin sub-heading($fontSize) {
  color: $primary-color;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: $fontSize;
}

@mixin margin-section {
  margin-top: 3em;

  @media screen and (min-width: 768px) {
    margin-top: 4em;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 4.5em;
  }
}

@mixin text-content($fontSize) {
  color: $content-color;
  font-weight: 400;
  font-size: $fontSize;
}

@mixin solid-btn($paddingSize) {
  padding: $paddingSize;
  min-height: 44px;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  font-weight: bold;
}

//! Styles
html {
  @include box-border();
}

* {
  @include box-inherit();

  &:before {
    @include box-inherit();
  }

  &:after {
    @include box-inherit();
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

// Navigation | Navbar
.custom-nav {
  padding: 2em 0 0 0;

  .navbar-brand {
    img {
      width: 10.375rem;
      height: 2.5em;
    }
  }

  #navbarNav {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-weight: 400;
          color: $heading-color;
          padding: 1em;
          text-align: center;
          transition: 0.2s ease;
          -webkit-transition: 0.2s ease;
          -moz-transition: 0.2s ease;
          -ms-transition: 0.2s ease;
          -o-transition: 0.2s ease;

          &.active {
            font-weight: 600;
            color: $primary-color;
          }

          &:hover {
            color: $primary-color;
          }

          @media screen and (min-width: 992px) {
            margin-right: 1em;
          }
        }

        .hotline-btn {
          border: 2px solid $primary-color;
          background-color: transparent;
          height: 3em;
          width: 8em;
          margin: 0 auto;
          color: $primary-color;
          transition: 0.5s ease;
          -webkit-transition: 0.5s ease;
          -moz-transition: 0.5s ease;
          -ms-transition: 0.5s ease;
          -o-transition: 0.5s ease;

          .icon-phone {
            margin-right: 0.75em;
          }

          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }

  .navbar-toggler {
    padding: .5rem;
  }
}

// Section 1 - About Covid
.about-covid {
  @include margin-section();

  .wrap-about {
    flex-direction: column-reverse;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
  }

  img {
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .text-about {
    margin-top: 1.5em;

    p:first-child {
      @include sub-heading($fontSize: 0.75rem);

      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
    }

    h1 {
      @include heading($fontSize: 1.5rem, $mBottom: 1rem);

      @media screen and (min-width: 768px) {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }

      @media screen and (min-width: 992px) {
        font-size: 2rem;
      }

      @media screen and (min-width: 1200px) {
        font-size: 2.5rem;
      }
    }

    p:last-child {
      @include text-content($fontSize: .75rem);

      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
    }

    @media screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
}

// Blog Post Section
.blog-post,
.video-post {
  @include margin-section();

  p:first-child {
    @include sub-heading($fontSize: 0.75rem);

    @media screen and (min-width: 768px) {
      font-size: 1rem;
    }
  }

  h2 {
    @include heading($fontSize: 1.5rem, $mBottom: 1.5rem);

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    @media screen and (min-width: 992px) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 2rem;
    }
  }
}

.custom-blog-post {
  img {
    height: 18.375em;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 1em;
  }

  h3 {
    @include heading($fontSize: 1.25rem, $mBottom: 1rem);
    line-height: 2rem;

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 992px) {
      font-size: 1.25rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 1.25rem;
    }
  }

  p {
    @include text-content($fontSize: .75rem);
    margin-bottom: 1.5rem;

    @media screen and (min-width: 768px) {
      font-size: 1rem;
    }
  }

  .read-btn {
    @include solid-btn($paddingSize: 0.7em);
  }
}

// Video Post Section
.custom-video-post {
  box-shadow: 0px 0.3px 0.4px rgba(0, 0, 0, 0.02), 0px 0.7px 1.1px rgba(0, 0, 0, 0.028), 0px 1.3px 2px rgba(0, 0, 0, 0.035), 0px 2.2px 3.6px rgba(0, 0, 0, 0.042), 0px 4.2px 6.7px rgba(0, 0, 0, 0.05), 0px 10px 16px rgba(0, 0, 0, 0.07);
  stroke: 1px solid $stroke-color;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;

  img {
    height: 10em;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
    -webkit-border-radius: 1.25rem 1.25rem 0 0;
    -moz-border-radius: 1.25rem 1.25rem 0 0;
    -ms-border-radius: 1.25rem 1.25rem 0 0;
    -o-border-radius: 1.25rem 1.25rem 0 0;
  }

  .card-body {
    h3 {
      @include heading($fontSize: 1.25rem, $mBottom: 1rem);
      line-height: 2rem;
      text-align: center;
      margin-bottom: 0;

      a {
        text-decoration: none;
        color: $heading-color;
        transition: .3s color ease;
        -webkit-transition: .3s color ease;
        -moz-transition: .3s color ease;
        -ms-transition: .3s color ease;
        -o-transition: .3s color ease;

        &:hover {
          color: $primary-color;
          transition: .3s color ease;
          -webkit-transition: .3s color ease;
          -moz-transition: .3s color ease;
          -ms-transition: .3s color ease;
          -o-transition: .3s color ease;
        }
      }

      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 992px) {
        font-size: 1.25rem;
      }

      @media screen and (min-width: 1200px) {
        font-size: 1.25rem;
      }
    }
  }
}