@use './colors';
@use './responsive';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$font-weights: ('light': 300,
    'regular': 400,
    'medium': 500,
    'semi-bold': 600,
    'bold':700);

body {
    font-family: "Poppins", arial, sans-serif;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: colors.$secondary-color !important;
}

.active a {
    color: colors.$secondary-color !important;
}

.nav-item {
    box-sizing: border-box;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 45px;
    cursor: pointer;

    &:hover {
        border-top: 4px solid colors.$secondary-color;
    }
}



.hotline {
    border-radius: 30px;
    height: min-content;
    border: 1px solid red;
    margin: auto 0;
    margin-left: 45px;
    color: colors.$secondary-color;
    padding: 0 20px;

    a {
        color: colors.$secondary-color !important;
    }

    &:hover {
        border: 1px solid red !important;
        background-color: rgb(255, 218, 218);
    }
}

main {
    min-height: 460px;

}

/* search-bar */

.search-bar {
    padding-top: 200px;
    height: 1024px;
    background: linear-gradient(rgba(173, 173, 173, 0.6), rgba(173, 173, 173, 0.6)), url('../img/hero.jpg');
    background-position: 0 0;
    background-size: cover;

    header {
        margin-bottom: 60px;

        h2 {
            text-align: center;
            font-size: 60px;
            font-weight: map-get($map: $font-weights, $key: 'bold');
        }
    }


}

.search-form {
    .form-group {
        margin-bottom: 40px;

        label {
            font-size: 20px;
            font-weight: map-get($map: $font-weights, $key: 'semi-bold');
        }

        select {
            display: block;
            height: 54px;
        }
    }

    .form-check {
        width: 100%;
        background-color: colors.$secondary-color;
        padding: 15px;
        padding-left: 20px;
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        border-radius: 6px;
        cursor: pointer;

        input {
            margin: 0 10px 0 0;
            padding: 0;
            background-color: green;
        }

        label {
            cursor: pointer;
        }
    }

    .btn-search {
        margin-top: 100px;
        width: 410px;
        background-color: colors.$secondary-color;
        font-size: 20px;
        font-weight: map-get($map: $font-weights, $key: 'semi-bold');
        border-radius: 6px;

        &:hover {
            background-color: rgb(226, 0, 0);
        }

        &:active {
            background-color: rgb(167, 0, 0);
        }
    }
}